.navbar {
    display: flex;
    width: 100%;
    height: 36px;

    border-top: 3px solid var(--old-rose);
    border-bottom: 3px solid var(--old-rose);

    margin: 10px 0 18px 0;
}

.nav-link-bar {
    display: flex;
    width: 100%;
    height: 100%;

    justify-content: space-evenly;
    align-items: center;

    font-family: 'SourcePro', 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 14px;
}

.nav-link {
    margin: 0 2%;
    color: var(--hookers-green);
    text-decoration: none;
    overflow: hidden;
    position: relative;
}

.nav-link:hover {
    transition-delay: 250ms;
    transition-duration: 250ms;
    color: var(--alabaster);
}

.nav-link::after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--hookers-green);
    opacity: 1;
    transform: translate3d(0, 100%, 0);
    transition: opacity 300ms, transform 500ms;

    z-index: -1;
}

.nav-link:hover::after {
    transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 520px) {
    .nav-link-bar {
        font-size: 12px;
    }
}
