<div class="navbar" role="navigation bar">
    <div class="nav-link-bar">
        <a href="/" class="nav-link"><span>Inicio</span></a>
        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="11.3137" width="16" height="16" transform="rotate(-45 0 11.3137)" fill="#B88080"/>
        </svg>
        <a href="/about" class="nav-link"><span>Sobre m&iacute;</span></a>
        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="11.3137" width="16" height="16" transform="rotate(-45 0 11.3137)" fill="#B88080"/>
        </svg>
        <a href="/projects" class="nav-link"><span>Proyectos</span></a>
        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="11.3137" width="16" height="16" transform="rotate(-45 0 11.3137)" fill="#B88080"/>
        </svg>
        <a href="/designs" class="nav-link"><span>Dise&ntilde;os</span></a>
    </div>
    
</div>