.main-contact {
    max-width: 540px;
    position: relative;
    width: 100%;
    margin: 0 4%;

    background-color: var(--alabaster);
    box-shadow: 0 5px 4px 0 var(--old-rose);
}

.main-contact-title-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.main-contact-title {
    font-family: 'SourcePro', 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 24px;
    color: var(--old-rose);
}

.contact-line-hr {
    width: 100%;
    height: 32px;
    background-image: url('../../assets/contact_line.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    
    position: absolute;
    top: 0;
    left: 0;
}

.main-contact-links {
    width: 100%;
    margin-top: 22px;
    display: flex;
    justify-content: space-evenly;
}

#id-github-logo,
#id-itchio-logo,
#id-envelope-fill-logo,
#id-linkedin-logo {
    width: 44px;

    margin: 0;
    padding: 0;
    fill: var(--old-rose);
}

#id-github-logo:hover,
#id-itchio-logo:hover,
#id-envelope-fill-logo:hover,
#id-linkedin-logo:hover {
    transition-duration: 250ms;
    fill: var(--dun);
}