/* You can add global styles to this file, and also import other style files */
:root {
    /* CSS HEX */
    --alabaster: #fbf8efff; 
    --dun: #ebbc8dff; 
    --old-rose: #995757ff; 
    --hookers-green: #2b6c6aff; 
    --dark-cyan: #6baca3ff;
    --white: #ffffffff;
    --black: #333333ff;
}

@font-face  {
    font-family: 'SourcePro';
    src: url('./assets/typographies/sourcepro.ttf') format('truetype');
}

@font-face  {
    font-family: 'OldStandard';
    font-weight: normal;
    src: url('./assets/typographies/OldStandard-Regular.ttf') format('truetype');
}

@font-face  {
    font-family: 'OldStandard';
    font-weight: bold;
    src: url('./assets/typographies/OldStandard-Bold.ttf') format('truetype');
}

body,html {
    margin: 0;
    padding: 0;
}

span::selection,
h1::selection {
    color: var(--alabaster);
    background-color: var(--hookers-green);
}

/* HERO */

#hero {
    width: 100%;
    height: 100vh;
    background-color: var(--alabaster);
    display: flex;
    border-bottom: 0.25rem solid var(--black);
}

#left-hero {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: var(--old-rose);
    border-right: 0.25rem solid var(--black);
}

#myname {
    flex-grow: 8;
    width: calc(100% - 2rem);
    margin: 0;
    align-content: end;
    padding: 0 1rem;
    color: var(--alabaster);
    font-family: 'SourcePro';
    font-size: 5rem;
    text-wrap: wrap;
    text-shadow: 0.4rem 0.5rem var(--black);
}

#contact-wrapper {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-width: 0.25rem 0 0 0;
    border-style: solid;
    border-color: var(--black);
    background-color: var(--dun);
}

#contact-wrapper h2 {
    margin: 0;
    padding: 3rem 1rem 0 1rem;
    font-family: 'SourcePro';
    font-size: 3rem;
    color: var(--black);
}

#contact-wrapper #contact-bar {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

#contact-bar img{
    width: 44px;
    height: 44px;
}

#right-hero {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

#hero-gif-wrapper {
    width: 100%;
    flex-grow: 4;
    background-color: var(--hookers-green);
    border-bottom: 0.25rem solid var(--black);
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

#hero-gif-wrapper img {
        background-color: var(--alabaster);
    margin: 1.5rem;
}

#go-down {
    flex-grow: 2;
}

/* SEPARATOR */

.separator {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    padding: 1rem 0;
    border-width: 0.25rem 0 0.25rem 0;
    border-style: solid;
    border-color: var(--old-rose);
}

.separator:hover > img:nth-child(1),
.separator:hover > img:nth-child(3) {
    transition-duration: 0.5s;
}

.separator:hover > img:nth-child(2) {
    transition-duration: 0.75s;
}

.separator > img {
    content: url('assets/rhombus.svg');
    margin: 0 0.5rem;
    transition-duration: 1s;
}

.separator:hover > img {
    transform: rotate(90deg);
    transform-origin: 11px 11px;
}

/* QUIEN SOY */

#whoami {
    background-color: var(--dun);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#whoami h2 {
    font-family: 'SourcePro';
    font-size: 3rem;
}

#whoami h3 {
    font-family: 'SourcePro';
    font-size: 1.2rem;
}
