/* You can add global styles to this file, and also import other style files */
:root {
    /* CSS HEX */
    --alabaster: #f1eee5ff; 
    --dun: #dcc6a4ff; 
    --old-rose: #b88080ff; 
    --hookers-green: #5b7b7aff; 
    --dark-cyan: #3c887eff;
    --white: #ffffffff;
}

@font-face  {
    font-family: 'SourcePro';
    src: url('./assets/typographies/sourcepro.ttf') format('truetype');
}

@font-face  {
    font-family: 'OldStandard';
    font-weight: normal;
    src: url('./assets/typographies/OldStandard-Regular.ttf') format('truetype');
}

@font-face  {
    font-family: 'OldStandard';
    font-weight: bold;
    src: url('./assets/typographies/OldStandard-Bold.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--alabaster);
}

span::selection,
h1::selection {
    color: var(--alabaster);
    background-color: var(--hookers-green);
}
