<h1 class="designs-title">
    <div id="id-left-header-banner">
    </div>
    <span>Dise&ntilde;os</span>
    <div id="id-right-header-banner">
    </div>
</h1>

<div id="id-designs-2d-div" class="designs-body">
    <h2>Dise&ntilde;os 2D</h2>
    <app-design-frame *ngFor="let design of designs" [design]="design"></app-design-frame>
</div>
<div id="id-designs-3d-div" class="designs-body">
    <h2>Dise&ntilde;os 3D</h2>
    <app-design-frame *ngFor="let design of designs3D" [design]="design"></app-design-frame>
</div>