.designs-title {
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--alabaster);

    border: solid var(--hookers-green);
    border-width: 5px 0;
}

.designs-title > span {
    font-family: 'SourcePro', 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 32px;
    color: var(--hookers-green);

    text-transform: uppercase;
    margin: 0 4%;
}

.designs-title > img {
    width: 92%;
}

#id-left-banner {
    margin-left: 4%;
}

#id-right-banner {
    margin-right: 4%;
}

app-design-frame {
    width: 30%;
    margin-bottom: 24px;
}

@media screen and (min-width:1080px) {
    #id-designs-2d-div > app-design-frame:nth-child(3n),
    #id-designs-3d-div > app-design-frame:nth-child(3n) {
        margin-left: 5%;
        margin-right: 5%;
    }
    
}

h2 {
    width: 100%;
    color: var(--old-rose);
    font-family: 'SourcePro', 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 24px;
}

.designs-body {
    width: 95%;
    margin: 24px 0;
    padding: 0 2.5%;

    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width:1080px) {
    .designs-title > img {
        width: 96%;
        margin: 0 2%;
    }

    app-design-frame {
        width: 47.5%;
    }

    #id-designs-2d-div > app-design-frame:nth-child(2n),
    #id-designs-3d-div > app-design-frame:nth-child(2n) {
        margin-right: 5%;
    }

}

@media screen and (max-width:720px) {
    .designs-title > img {
        width: 96%;
        margin: 0 2%;
    }

    .designs-body {
        justify-content: center;
    }

    app-design-frame {
        width: 360px;
    }

    #id-designs-2d-div > app-design-frame:nth-child(2n),
    #id-designs-3d-div > app-design-frame:nth-child(2n) {
        margin-right: 0;
    }

}
